@media only screen and (max-width: 1000px) {
  .productEssintials {
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }
  .productInfo {
    text-align: center;
  }

  .productImages .mainImageContainer img {
    max-width: 90%;
    max-height: 20%;
  }
  .productImages aside img {
    max-width: 60%;
    max-height: 60%;
  }
  .productDetails {
    padding: 20px;
    width: 90%;
  }
  .productDetails nav ul {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .newReview form .reviewerData {
    display: flex;
    gap: -50px;
    justify-content: space-between;
  }
}
